/*
 * (grid-)style for viewing an invoice after XSLT
 *
 */


/*
 * margins for precise printing - use 0 (additional) or 'default' margins in browser settings!
 */
@page  
{ 
	size: portrait;
		
	margin: 50mm 20mm 10mm 20mm;  
}

/*
 *
 * DESIGN
 * DECISIONS
 *
 */

body	{	font-family: Arial, Helvetica, sans-serif	;	}

/*
 * the only piece of text with larger font size then the rest
 */
#record-type	{	font-size	: 14pt	; }

/*
 * a few elements which are emphasized by bold style
 */
#record-type	,
#record-key		,
#record-date	,
#summary		,
#customfield_11127 /* gros amount */
{
	font-weight:	bold	;
}


/*
 * implementation details
 */

#sender-top
{
	font-size: 8pt
}
#recipient p 
{
	margin: 6px
}
#recipient p:first-of-type { margin-top: 16px ; margin-bottom: 16px }
#recipient p:last-of-type { font-weight: bold }

#web
{ text-align: right}

#sender-right ,
#accounting-details
{
	font-size: 10pt ;
	font-family: Courier New, serif ;
	float: right ;
}

#spec
{
	height		: 80% ;
	width		: 100% ;
	display		: grid ;
	grid-template-columns	: [first] auto [second] auto [third] auto [filler] 1fr [total-labels] auto [totals] auto [end];
	grid-template-rows		: [filler-top] 2fr [key] 22px [begin] 22px [end] 22px [summary] 22px [description] auto [subtotal] 22px [tax] 22px [total] 22px [due] 44px [filler-2] 1fr [greet-1] 22px [filler-3] 1fr [greet-2] 22px [filler-bottom] 3fr
}

#record-type ,
#record-key-label ,
#record-key ,
#record-date-label ,
#record-date			{ grid-row : key }

#record-date-label		{ grid-column-start : total-labels ; justify-self : end }

#service-begin-label 	{ grid-column-start : total-labels	; grid-row	: begin ; font-size : 9pt	}
#service-begin		 	{ grid-column-start : totals		; grid-row	: begin	}
#service-end-label		{ grid-column-start : total-labels	; grid-row	: end	; font-size : 9pt	}
#service-end			{ grid-column-start : totals		; grid-row	: end	}
#summary				
{
	grid-column : first / end	;
	grid-row	: summary		;
}

#accounting-details,
#spec div
{
	padding		: 6px	;
}

#description
{
	grid-column	: first / end	;
	grid-row	: description	;
	border		: 1px solid #000000 ;
	margin-top	: 22px;
	margin-bottom: 22px;
}


div.date,
div.currency		{ grid-column-start : totals	; justify-self : end	}
div.currency:after	{ content : " €" }

#net-label 			{ grid-row	: subtotal	;	grid-column-start : 1	}
#customfield_11133	{ grid-row	: subtotal	}

#tax-label 		{ grid-column-start : 1				; grid-row	: tax	}
#tax-percent	{ grid-column-start : 2				; grid-row	: tax	}
#tax-amount		{ grid-column-start : totals		; grid-row	: tax	}

#grs-label 			{ grid-row	: total ;	grid-column-start : 1	}
#customfield_11127	{ grid-row	: total	}

#due-date-label	{ grid-column-start : total-labels	; grid-row	: due	}
#due-date		{ grid-column-start : totals		; grid-row	: due	}

#record-date-label		,
#service-begin-label	,
#service-end-label		,
#due-date-label			,
#net-amount		,
#tax-amount		,
#grs-amount
	{justify-self : end }

#mfg { grid-row : greet-1 }
#signature { grid-row : greet-2 }
	
#accounting-details 
{
/* TODO: fix Blocksatz	
	text-align: justify ;
	text-justify: inter-word;
*/
	vertical-align: bottom ;
	position: absolute ;
	bottom	: 0px;
	right	: 0px;

}