/*
 * default style for general-purpose viewing of any Jira issue
 *
 * this shalle indicate all information (attributes) to a user for understanding which details are stored along the issue,
 * but it may omit details of attributes which are not required for understanding
 *
 * it is OK to view the XHTML source or to inspect the DOM for full understanding
 */
body {
	font-size: 14px;
	font-family: sans-serif;
}

a		{ text-decoration: none;		}
a:hover	{ text-decoration: underline;	}

id { float:right; }

key[name=summary] ~ value {
	float: clear;
}

/*
 * things with 'self' but without name
 */
a:empty::after {
	font-style	: italic;
	content		: '(unnamed Resource)';
}
fields comment property > value > ul > li > span > property > value > a:empty {
	display: none
}

th, td {
	padding: 4px;
}

field > li {
	font-size: 20px;;
}

issueLink,
ilinks,
pields,
fields {
	display: table;
}

ilink,
issueLink property,
body fields property {
	display: table-row;
}

issueLink property key,
issueLink property value,
ilink property ~ property,
linktypename,
value,
key
{
	display: table-cell;
	padding: 4px;
}
key {
	font-size: 12px;	
}

/*
 * specifics to individual field names or other properties
 */

ilinks ilink key {
	display: none;
}
key[name=outwardIssue] ~ value::before {
	content: '← ';
}
key[name= inwardIssue] ~ value::before {
	content: '→ ';
}

key[name=components] ~ value > ul > li,
key[name=labels    ] ~ value > ul > li 
{
	display: inline-block;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 3px;
    font-weight: normal;
    line-height: 1;
    max-width: 100%;
    overflow-x: hidden;
    padding: 1px 5px;
    margin: 0 3px 0 0;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ilinks property > key[name=status] { display:none; }
key[name=status] ~ value 
{
    display: inline-block;
    margin: 0 3px 0 0;
    font-size: 12px;
	box-sizing: border-box;
	color: #253858;
    font-weight: 600;
	background: #dfe1e6;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 1;
    padding: 2px 4px 3px;
	//vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    max-width: 100%;
    position: relative;
}
key[name=status] ~ value * * {
	display: none;
}


key[name=summary	] {
	display: none;
}
key[name=summary] ~ value {
	font-size: 20px;
	font-weight: 500;	
}
key[name=description] {
	display: none;
}
key[name=description] ~ value {
	column-span : all;
	border: 1px dashed;
	padding: 7px;
}
key[name=description] ~ value:empty {
	border: none;
}
key[name=description] ~ value:empty::after {
	content: '―';
}

/*
 * Vereinfachung
 */
property[key=author] ,
property[key=accountId]	,
property[key=creator]	value	a,
property[key=assignee]	value	a,
property[key=reporter]	value	a,
property[key=updateAuthor]	value	a,
property[key=maxResults],
property[key=created],
key[name=worklogs]	,
key[name=comments]	,
key[name=emailAddress]	
{
	display: none;
}

/*
 *
 */


top self,
pields property[key=key		] key,
fields property[key=key		]
{
	display: none;
}

/*
 * wanted in XML but not in the HTML GUI
 */
property[key=id			] ,
property[key=iconUrl	]
{
	display: none;
}

/*
 * ilinks
 */

ilinks > ilink[direction=outward] > property[key=type] > value > type > property[key=inward ] ,
ilinks > ilink[direction=inward ] > property[key=type] > value > type > property[key=outward] ,
ilinks > ilink                    > property[key=type] > value > a
{
	display: none;	
}
